.progress-bar {
  span {
    font-size: .666667rem;
    font-weight: 700;
    line-height: .777778rem;
    color: #A09FB1;
  }
  &__values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  &__line {
    height: 8px;
    background: #E7E7EB;
    border-radius: 80px;
    overflow: hidden;
  }
  &__indicator {
    height: 100%;
    background: #FFEC65;
  }
  &__percent {
    float:right;
    margin-top: 2px;
  }
}